rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      let isSuperAdmin = request.auth != null && request.auth.token.email == 'pedro.moneo@gmail.com';
      let isAuthorized = request.auth != null && firestore.exists(/databases/(default)/documents/authorized_users/$(request.auth.token.email.lower()));
      return isSuperAdmin || isAuthorized;
    }

    match /{allPaths=**} {
      // Anyone can view images
      allow read: if true;
      // Only admin can upload/delete
      allow write: if isAdmin();
    }
  }
}
